$primary-color: #444;
$secondary-color: #eece1c;
$show-home-image: true;
// used unsplash API to get computer theme photos
$home-image:url("https://source.unsplash.com/1080x900/?computer");
$background-opacity: 0.9;

//function to change the anything in 0.7sec
@mixin easeOut{
    transition: all 0.7s ease-out;
}

// function for the background
@mixin background{
    @if $show-home-image{
        &#bg-image{
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            // to make the text readable
            // sudo element after the element above
            // content is needed to activate sudo element
            &:after{
                content:"";
                z-index: -2;
                position: absolute;
                top: 0;
                right:0;
                width: 100%;
                height: 100%;
                background: rgba($primary-color,$background-opacity);
            }
        }
    }
}

// setting the text color
@function change-color($color){
    @if (lightness($color) > 40) {
        @return black;        
    }@else{
        @return white;
    }
}

// media query functions
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width:769px)and (max-width: 1170px) {
        @content;
    }
}
@mixin mediaXL {
    @media screen and (min-width: 1171px) {
        @content;
    }
}
